xml/day2/lab2/src/Question4/main.xsd

<?xml version="1.0"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XmlSchema.xsd to edit this template
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BookStore">
      
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
            
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="Author"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Category" use="optional"/>
            <xs:attribute type="xs:string" name="InStock" use="optional"/>
          </xs:complexType>
          
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    
  </xs:element>
  
</xs:schema>
